{% extends 'base.html.twig' %}

{% block title %}SEM Keyword Tool{% endblock %}

{% block body %}
<div id="app">
    {% include "header.html.twig" %}

    <div class="app-container container">
        <router-view></router-view>
    </div>

</div>



{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
